.sidebar {
  background-color: $main-dark;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
